.about {
    padding: 160px 0;
    background-image: url("../images/about-bg.png");
    background-repeat: no-repeat;
    background-position: 0px 200px;
    background-size:  70% auto ;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
        margin: -15px;
    }

    &__item {
        width: 100%;
        max-width: 320px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 15px;
    }

    &__item-img {
        width: 96px;
        height: 96px;
        margin-bottom: 40px;
    }


    &__item-heading {
        margin: 0px 0px 27px;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -2px;
        color: #495567;
    }

    &__item-desc {
        margin: 0px;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .about {
        background-image: url("../images/about-bg@2x.png");
    }

}

@media only screen and (max-width: 1060px) {
    .about {
        &__item {
            max-width: 280px;
        }

        &__item-desc {
            line-height: 20px;
        }
    }
}

@media only screen and (max-width: 940px) {
    .about {
        background-image: none;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 320px;
        }

        &__item-words {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 710px) {
    .about {
        background-image: url("../images/about-bg-media.png");
        background-repeat: no-repeat;
        background-position: 22% top  ;
        background-size: auto  75% ;

        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__item {
            margin: 0;
            width: 100%;
            max-width: 620px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;
        }

        &__item:last-child{
            margin-bottom: 0px;
        }

        &__item-img {
            margin-bottom: 0px;
            margin-right: 40px;
        }

        &__item-words{
            text-align: left;
            width: 100%;
            max-width: 330px;
        }
    }
}


@media only screen and (max-width: 600px) {
    .about {
        background-position: 19% top;
    }
}

@media only screen and (max-width: 550px) {
    .about {
        background-position: 17% top;
    }
}

@media only screen and (max-width: 500px) {
    .about {
        padding: 130px 0px 100px;
        background-size: auto 95%;
        background-position: 15% top;
    }
}

@media only screen and (max-width: 450px) {
    .about {
        background-image: none;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 320px;
        }

        &__item-words {
            text-align: center;
        }

        &__item-img {
            margin: 0px 0px 20px;
        }

    }
}

@media only screen and (max-width: 380px) {
    &__item-words{
        width: 100%;
        max-width: 28px;
    }

    &__item {
        width: 100%;
        max-width: 28px;
    }
}
