.footer {
    background: #333A44;

    &__wrapper {
        display: flex;
        align-items: center;
        padding: 35px 0px 32px;
    }


    &__logo-img {
        width: 108px;
        height: 29px;
    }

    &__logo:hover {
        opacity: 0.8;
    }

    &__logo:active {
        opacity: 0.6;
    }

    &__list {
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 58px ;
        padding: 0;
        list-style: none;
    }

    &__item + &__item {
        margin-left: 32px;
    }

    &__link {
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }

    &__link:hover {
        opacity: 0.8;
    }

    &__link:active {
        opacity: 0.6;
    }

    &__icons {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-left: auto;
        list-style: none;
    }

    &__icons-item + &__icons-item {
        margin-left: 24px;
    }

    &__icon {
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: #FCB72B;
    }

    &__icon:hover {
        color: white;
    }

    &__icon:active {
        opacity: 0.6;
    }
}

@media only screen and (max-width: 600px) {
    .footer {

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-items: center;
        }

        &__logo {
            margin-bottom: 35px;
        }

        &__icons {
            margin: 0;
        }

        &__list {
            margin: 0px 0px 35px;
        }
    }
}

@media only screen and (max-width: 380px) {
    .footer {
        &__list {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__item + &__item {
            margin-left: 0px;
        }

        &__item {
            margin-bottom: 20px;
        }
    }
}