.hero {
    padding: 0px 0px 60px;
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &__main {
        background-image: url("../images/hero-bg-element.png");
        background-repeat: no-repeat;
        background-position: 0px 355px;
        background-size: 85%;
    }

    &__container {
        padding:  0 85px 0 0;
    }

    &__wrapper {
        margin-left: 75px;
        width: 100%;
        max-width: 500px;
        padding: 153px 0;
        color: #FFFFFF;
    }

    &__heading {
        margin: 0px 0px 40px;
        font-weight: bold;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
    }

    &__desc {
        margin: 0px 0px 40px;
        width: 100%;
        max-width: 405px;
        margin-left: auto;
        font-size: 15px;
        line-height: 25px;
    }

    &__button {
        margin-left: 95px;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .hero {
        background-image: url("../images/hero-bg@2x.png");
    }

    .hero__main {
        background-image: url("../images/hero-bg-element@2x.png");
    }

}

@media only screen and (max-width: 1160px) {
    .hero {
        background-position: -300px;

        &__main {
            background-size: 90%;
        }

        &__desc {
            max-width: 380px;
        }
    }
}

@media only screen and (max-width: 1040px) {
    .hero {

        &__main {
            background-size: 100%;
        }

        &__desc {
            max-width: 350px;
        }

        &__wrapper {
            margin-left: 55px;
        }
    }
}

@media only screen and (max-width: 900px) {
   .hero {
       display: flex;
       justify-content: center;
       background-position: -550px;

    &__main {
        background-image: url("../images/hero-bg-element-media.png");
        background-size: 60%;
        background-position: bottom  left;
     }

     &__container {
         padding:  0px 20px;
     }

     &__wrapper {
         margin-left: 0;
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     &__heading {
        text-align: center;
     }

     &__desc {
         margin: 0 0 40px;
        max-width: 405px;
        text-align: center;
     }

     &__button {
         margin-left: 0;
     }
   }
}

@media only screen and (max-width: 450px) {
    .hero {
        &__main{
            background-size: 80%;
        }

        &__heading {
            font-size: 48px;
        }

        &__desc {
            max-width: 350px;
        }
    }
}

@media only screen and (max-width: 370px) {
    .hero {

        &__main{
            background-size: 80%;
        }

        &__wrapper {
            padding: 130px 0;
        }

        &__heading {
            font-size: 44px;
            margin-bottom: 25px;
        }

        &__desc {
            max-width: 350px;
            margin-bottom: 25px;
        }
    }
}
