.hero {
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 100px;

    &__wrapper {
        width: 100%;
        max-width: 500px;
        padding: 120px 0 190px;
        color: $supplement-color;
    }

    &__line-img-desctop {
        position: absolute;
        left: 0;
        top: 420px;
    }

    &__line-img-table {
        display: none;
    }

    &__heading {
        margin: 0px 0px 40px;
        font-weight: bold;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
    }

    &__desc {
        margin: 0px 0px 40px;
        width: 100%;
        max-width: 405px;
        margin-left: auto;
        font-family: 'Lexend Deca';
        font-size: 15px;
        line-height: 25px;
    }

    &__button {
        margin-left: 95px;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .hero {
        background-image: url("../images/hero-bg@2x.png");
    }

}

// MEDIA !!!


@media only screen and (max-width: 1030px) {
    .hero {
        background-position: -300px;

        &__desc {
            margin: 0px auto 40px;
            max-width: 355px;
        }
    }
}

@media only screen and (max-width: 900px) {
   .hero {
       padding: 0px;
       display: flex;
       justify-content: center;
       background-position: -550px;

       &__line-img-desctop {
        display: none;
    }

    &__line-img-table {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 580px;
    }


     &__wrapper {
         margin-left: 0;
         display: flex;
         flex-direction: column;
         align-items: center;
         margin: 0 auto;
     }


     &__heading {
        text-align: center;
     }

     &__desc {
         margin: 0 0 40px;
        max-width: 405px;
        text-align: center;
     }

     &__button {
         margin-left: 0;
     }
   }
}

@media only screen and (max-width: 435px) {
    .hero {
        background-position: -700px;

        &__heading {
            font-size: 42px;
        }

        &__desc {
            max-width: 400px;
        }

        &__line-img-table {
           display: none;
        }
    }
}
